$colorRed: #e91010;
$colorGray: #444343;
$colorWhite: #ffffff;
$colorBlack:  #131212;


// variables padding 

$paddingTopBottom1: 10px 0;
$paddingTopBottom2: 20px 0;
$paddingTopBottom3: 30px 0;
$paddingTopBottom4: 40px 0;

$paddingLeftRight1: 10px 0;
$paddingLeftRight2: 15px 0;
$paddingLeftRight3: 20px 0;
$paddingLeftRight4: 25px 0;


// variables margin 
$marginTopBottom1: 10px 0;
$marginTopBottom2: 20px 0;
$marginTopBottom3: 30px 0;
$marginTopBottom4: 40px 0;

$marginLeftRight1: 10px 0;
$marginLeftRight2: 20px 0;
$marginLeftRight3: 25px 0;
$marginLeftRight4: 30px 0;

